Case #1:
|       _    _/\
|   ___/ \/\/   \
| \/             \  ___          __/\
|                 \/   \/\      /    \/\
|                         \__  /        \_
|                            \/
+------------------------------------------

Case #2:
|                        ___
|                       /
|                    /\/
|                   /
|      __          /
|     /  \        /
| \  /    \_  _/\/
|  \/       \/
+----------------------------

Case #3:
|            _   _/\
|      _/\__/ \_/   \
| \  _/              \       /\/\/\__
|  \/                 \___  /        \   __
|                         \/          \_/
+-------------------------------------------

Case #4:
|        _
|      _/ \
|   __/    \_
| \/         \/\
|               \/\_
|                   \    _
|                    \__/
+--------------------------

Case #5:
|  __/\_  _
| /     \/ \
|           \_
|             \    _
|              \  / \_  __  _
|               \/    \/  \/ \
|                             \_
|                               \_
|                                 \
|                                  \_
|                                    \      _
|                                     \   _/ \_
|                                      \_/
+-----------------------------------------------

Case #6:
|           /\
|         _/  \_  _
|      /\/      \/ \_
|   /\/              \/
| _/
+-----------------------

Case #7:
|     /\__/\
|  __/      \  ____  /\___/\  /\
| /          \/    \/       \/  \  /\
|                                \/  \_        _
|                                      \    /\/ \/
|                                       \/\/
+--------------------------------------------------

Case #8:
|      _
|     / \_    /\
|   _/    \  /
| \/       \/
+----------------

Case #9:
|      _                                /\_
| /\/\/ \                              /   \  _
|        \              _             /     \/
|         \          /\/ \_        /\/
|          \        /      \  _   /
|           \     _/        \/ \_/
|            \  _/
|             \/
+-----------------------------------------------

Case #10:
| \
|  \
|   \
|    \
|     \
|      \_
|        \_
|          \/\___
|                \__
|                   \
|                    \
|                     \__
|                        \     /\_            /\
|                         \  _/   \          /
|                          \/      \  _     /
|                                   \/ \_  /
|                                        \/
+------------------------------------------------

Case #11:
|  /\__/\
| /      \_
|          \
|           \__
|              \
|               \  __
|                \/  \
|                     \
|                      \  __       __
|                       \/  \__/\_/  \/\
+----------------------------------------

Case #12:
|  __/\/\       ____
| /      \_    /
|          \/\/
+--------------------

Case #13:
|                     _
|                    / \
|                   /   \
|                 _/     \_
|              __/         \
|             /             \     _
|            /               \  _/ \
|           /                 \/    \
|          /                         \
| _       /                           \
|  \     /                             \
|   \/\_/
+----------------------------------------

Case #14:
|                                            _
|                                           / \
|                        __                /   \/\/
|                       /  \         _/\  /
|       /\_            /    \  _    /   \/
|      /   \    _  ___/      \/ \/\/
|     /     \/\/ \/
| ___/
+---------------------------------------------------

Case #15:
| \
|  \
|   \
|    \
|     \                    /\__
|      \                  /
|       \_/\_       _/\/\/
|            \___/\/
+-------------------------------

Case #16:
|            __
|           /
|       /\_/
|      /
|  /\_/
| /
+---------------

Case #17:
|       _
|      / \
| \_  /   \/\  /\__    /\_
|   \/       \/    \/\/   \  _
|                          \/
+------------------------------

Case #18:
|    /\
|   /  \
|  /    \  _/\____
| /      \/
+------------------

Case #19:
|                          _  _
|    _           /\/\/\/\_/ \/ \_
|   / \_    __/\/                \    _/\
| _/    \/\/                      \__/   \
|                                         \_
|                                           \_
+----------------------------------------------

Case #20:
|       _
| \__/\/ \
|         \___    _
|             \/\/ \__/\_        __/
|                        \/\____/
+------------------------------------

Case #21:
|      /\/\____  ____
|    _/        \/
| /\/
+---------------------

Case #22:
|                                    _
|                                 /\/
|                           _  __/
|                     _  __/ \/
|                  /\/ \/
|       /\/\_  _/\/
|     _/     \/
| _  /
|  \/
+--------------------------------------

Case #23:
|          __
|        _/  \_/\/\
| \     /          \
|  \_/\/            \_  /\  _
|                     \/  \/
+-----------------------------

Case #24:
| \_
|   \_
|     \
|      \/\   _      ___
|         \_/ \/\/\/   \
|                       \/\_
+----------------------------

Case #25:
|                                _
|                           /\__/
|                          /
| _/\_     _/\            /
|     \  _/   \___   _/\_/
|      \/         \_/
+----------------------------------

Case #26:
|          /\
|     /\  /
| \__/  \/
+-------------

Case #27:
|                             /\__/\
|                      /\____/      \        /\_/\
|                     /              \/\/\/\/
|                    /
|                 /\/
|              __/
|            _/
|           /
| _/\      /
|    \    /
|     \  /
|      \/
+--------------------------------------------------

Case #28:
| \  ________
|  \/        \__  _/\  /\_
|               \/   \/   \_   /\_/\__      _/\
|                           \_/       \  /\/   \
|                                      \/
+------------------------------------------------

Case #29:
|                              __    /\
|                             /  \__/  \
|                            /          \
|                         __/            \
|                        /                \/\/\
|                       /
|                   _/\/
|                  /
|                 /
|              /\/
|           __/
|          /
|  _/\/\  /
| /     \/
+-----------------------------------------------

Case #30:
|                    /\
|                   /  \  /\
|                 _/    \/  \_  _            __
|     _/\/\      /            \/ \  _  _/\/\/
|    /     \/\  /                 \/ \/
| /\/         \/
+-----------------------------------------------

Case #31:
|                 _
|           __  _/ \
|          /  \/    \/\__
|       /\/              \
| /\  _/                  \/
|   \/
+----------------------------

Case #32:
| ___  __                               __
|    \/  \_      /\  ___   /\__        /  \_  /\
|          \    /  \/   \_/    \__  /\/     \/
|           \/\/                  \/
+------------------------------------------------

Case #33:
|   _
| _/ \_
|      \/
+---------

Case #34:
|    ____  /\_/\
| __/    \/     \
|                \/\_
|                    \_
|                      \_
|                        \__
|                           \_
|                             \_
|                               \/\
+-----------------------------------

Case #35:
| /\
|   \
|    \/\
|       \  /\/\__  _
|        \/      \/
+--------------------

Case #36:
|           _
|     __  _/ \/\/\
|    /  \/        \_
| /\/               \
|                    \
|                     \  ____    /\/\
|                      \/    \/\/    \    /\
|                                     \/\/  \  _
|                                            \/
+------------------------------------------------

Case #37:
| _
+---

Case #38:
|  /\
| /
+-----

Case #39:
|      _
| /\  /
|   \/
+--------

Case #40:
|                     _
|                    / \_   _
|                  _/    \_/
|                 /
| __             /
|   \          _/
|    \    /\/\/
|     \__/
+-----------------------------

Case #41:
|               _
|            /\/ \  _  _
|          _/     \/ \/
|    /\_  /
| /\/   \/
+------------------------

Case #42:
| _
|  \/
+-----

Case #43:
|              /\
| _  _        /  \
|  \/ \  __/\/
|      \/
+------------------

Case #44:
|            _
|           /
|       _/\/
|      /
|     /
|    /
|   /
| _/
+--------------

Case #45:
| \
|  \_
|    \
|     \
|      \__  _/\/\_
|         \/      \      ___
|                  \__  /
|                     \/
+----------------------------

Case #46:
|    __/\/\
|   /
|  /
| /
+-----------

Case #47:
|                     _/\
|                    /   \/\        /\_
|                  _/       \_   /\/   \/
|               __/           \_/
|      _  _  /\/
| \/\_/ \/ \/
+-----------------------------------------

Case #48:
|      _
|  /\_/ \
| /      \
|         \
|          \__/\/\__/\
|                     \
|                      \
+------------------------

Case #49:
|                                      _
|                                     / \     /\
|                                   _/   \_/\/  \  /
|                                  /             \/
|                                _/
|             /\_            /\_/
|           _/   \/\     /\_/
|          /        \___/
|    _    /
| /\/ \__/
+----------------------------------------------------

Case #50:
|                        _/\_
|                     __/
|                    /
|                ___/
|               /
|     _       _/
|   _/ \     /
| _/    \_/\/
+-----------------------------

Case #51:
|                             /
|                            /
|                     /\  /\/
|      ___  _    _  _/  \/
|    _/   \/ \__/ \/
|   /
| _/
+-------------------------------

Case #52:
|                 _
|                / \
|              _/   \___/\_  /
|            _/            \/
| ___/\_/\/\/
+------------------------------

Case #53:
|         _/\
|        /   \
|   _  _/
| \/ \/
+--------------

Case #54:
| \
|  \_  _/\_/\__
|    \/        \
|               \
+-----------------

Case #55:
|               _
|              /
|      /\_____/
|     /
| _/\/
+-----------------

Case #56:
|                   _/\    /\
|             __   /   \/\/  \
|            /  \_/           \/\  _
| __        /                    \/ \_  /
|   \_     /                          \/
|     \_  /
|       \/
+-----------------------------------------

Case #57:
|                   _              /\_    /\
|                 _/ \  _         /   \__/  \
|           /\___/    \/ \/\    _/
|         _/                \/\/
|     _  /
|  __/ \/
| /
+---------------------------------------------

Case #58:
|    __/\          __  _
| /\/    \       _/  \/ \/\
|         \     /          \
|          \   /            \          _
|           \_/              \/\  __  / \
|                               \/  \/   \
|                                         \_
|                                           \
|                                            \/\/\
+--------------------------------------------------

Case #59:
|       _                               _/\        /
|     _/ \/\_                          /   \__/\__/
|    /       \_/\__  _    _/\  /\_    /
|   /              \/ \/\/   \/   \  /
| \/                               \/
+----------------------------------------------------

Case #60:
|                                /\
|                           _/\_/  \
|                          /        \_
|                       __/
|                      /
|                     /
|                    /
|                   /
|              _/\_/
|            _/
|      /\___/
| _  _/
|  \/
+--------------------------------------

Case #61:
|                      _/\/\_  _
|     _  __           /      \/ \      _
| /\_/ \/  \_        /           \_/\_/ \/\
|            \_/\_/\/                      \
|                                           \
|                                            \
+----------------------------------------------

Case #62:
|             _     _
|          __/ \   / \_
|        _/     \_/    \
| /\   _/
|   \_/
+------------------------

Case #63:
|                                      /\/\
|                                     /
|                                    /
|     _   /\__                   _  /
|    / \_/    \_/\          __/\/ \/
|   /             \_      _/
| _/                \  __/
|                    \/
+-------------------------------------------

Case #64:
|   /\
|  /  \_
| /     \_/\
|           \
|            \
|             \_
|               \
|                \
|                 \___
|                     \
|                      \     ___  _/\
|                       \/\_/   \/   \_/
+----------------------------------------

Case #65:
| \____
|      \
|       \
|        \/\
|           \/
+--------------

Case #66:
|    _
| __/ \
|      \_
|        \/\     /\
|           \_  /  \_
|             \/     \
|                     \  /\__/\/\/
|                      \/
+----------------------------------

Case #67:
|                                       _    /
|                                      / \  /
|                                     /   \/
|                                __  /
|                             __/  \/
|                            /
|          _/\             _/
|  /\  ___/   \  _      __/
| /  \/        \/ \_  _/
|                   \/
+----------------------------------------------

Case #68:
|                    ____/\
|                   /      \  _
|                  /        \/ \_
|  _      __/\  /\/              \_
| / \__  /    \/                   \
|      \/                           \_/\__
+------------------------------------------

Case #69:
|               _  _       /
|              / \/ \___  /
|            _/         \/
|      _    /
| __  / \  /
|   \/   \/
+----------------------------

Case #70:
|                 _          _/\/
|          /\  __/ \/\      /
|         /  \/       \_/\_/
|      /\/
|     /
|  /\/
| /
+---------------------------------

Case #71:
|                     ___
|               _/\__/   \__/\_  _   /\_
|           _  /               \/ \_/   \_
| /\  __  _/ \/
|   \/  \/
+------------------------------------------

Case #72:
| _
|  \   _
|   \_/ \___
|           \_
|             \___/\__
|                     \
|                      \/\
|                         \
|                          \
|                           \
|                            \/
+-------------------------------

Case #73:
|         __/\_/\__
| ___    /
|    \__/
+-------------------

Case #74:
| \    __
|  \  /
|   \/
+---------

Case #75:
|                                  _
|                               /\/ \/\/\/\_
|                             _/
| \/\                        /
|    \_                     /
|      \_               ___/
|        \_            /
|          \          /
|           \  /\/\/\/
|            \/
+--------------------------------------------

Case #76:
| _/\
|    \
|     \
|      \_  /\_/\_      /\
|        \/      \__  /  \___
|                   \/       \__/\_
|                                  \_/\__
|                                        \/
+-------------------------------------------

Case #77:
|    _
|   / \__/
| \/
+----------

Case #78:
|                  _
|                 / \____        _
|             ___/       \_  _/\/ \/
|    _   _   /             \/
| \_/ \_/ \_/
+------------------------------------

Case #79:
|  __/\_
| /     \_
|         \      ___
|          \____/   \  _
|                    \/
+------------------------

Case #80:
| _
|  \
|   \_        _
|     \_/\_/\/ \___
|                  \
|                   \
+---------------------

Case #81:
|            /\
|           /  \/
|          /
|         /
|        /
|       /
| \   _/
|  \_/
+-----------------

Case #82:
|   _
| \/
+-----

Case #83:
|                                      ____
|                                     /
|                                  /\/
|                                 /
|                              __/
|                             /
|                           _/
|                         _/
| \      _  _/\_/\/\_   _/
|  \_   / \/         \_/
|    \_/
+-------------------------------------------

Case #84:
|                 _
|                / \__  /\/
|               /     \/
|             _/
|      __/\  /
| _   /    \/
|  \_/
+---------------------------

Case #85:
|       ___/\_
|     _/      \_  /\/\  /
|    /          \/    \/
|   /
|  /
| /
+-------------------------

Case #86:
|                                       ___
|                                      /   \__
|  _/\/\/\_/\___                      /       \/
| /             \            _  ___  /
|                \__        / \/   \/
|                   \  __  /
|                    \/  \/
+------------------------------------------------

Case #87:
|           /\  _
| /\___   _/  \/ \                       _/\___
|      \_/        \                     /      \
|                  \                   /
|                   \_                /
|                     \/\   /\       /
|                        \_/  \__/\_/
+------------------------------------------------

Case #88:
|        _
|      _/ \/\/
|     /
| \__/
+--------------

Case #89:
|   /\_
|  /   \__   _
| /       \_/ \_      __            _
|               \_   /  \         _/ \_
|                 \_/    \_  __  /     \_
|                          \/  \/        \
|                                         \/
+--------------------------------------------

Case #90:
|   __   _   /\
|  /  \_/ \_/  \
| /             \_  __
|                 \/
+----------------------

Case #91:
|            /
|           /
|      ____/
| \   /
|  \_/
+--------------

Case #92:
| /\
|   \/
+------

Case #93:
|           /\/\
|       ___/    \__
|      /           \_
| /\  /              \
|   \/                \_/\/\
|                           \__
+-------------------------------

Case #94:
|                          /\/\  _
| \_          __          /    \/ \
|   \__  ____/  \     /\_/
|      \/        \/\_/
+-----------------------------------

Case #95:
|                                                 _
| \_                                             / \
|   \_                             __        /\_/
|     \                   /\_    _/  \   ___/
|      \/\               /   \/\/     \_/
|         \_            /
|           \/\        /
|              \    __/
|               \/\/
+----------------------------------------------------

Case #96:
|         _
|        / \    _
| /\/\__/   \__/ \
|                 \
|                  \_     /\
|                    \/\_/  \
|                            \  ____
|                             \/    \
|                                    \_
+---------------------------------------

Case #97:
|            __
|           /  \                __
|       ___/    \         _    /  \/\   /\
|      /         \__    _/ \  /      \_/  \
|     /             \/\/    \/             \
| _/\/                                      \__/
+------------------------------------------------

Case #98:
|     _____/\_
| \__/        \___
+------------------

Case #99:
|         _
|        / \___
|       /      \
|    /\/        \/\__
|   /                \
|  /                  \
| /
+-----------------------

Case #100:
|  _
| / \
|    \
|     \
|      \
+--------

